<div class="container-fluid mb-5">
    <app-navbar></app-navbar>
    <app-account-holder-details></app-account-holder-details>
    <main class="mainScreen text-center mt-2">
        <img src="assets/Work_6 1.png" alt="WorkDone">
        <p class="congratsText mt-1">Congratulations</p>
        <div class="d-flex justify-content-center">
            <p class="transText w-50">Transaction amount Rs. 45,000.00/- in the mode of “IMPS” for the payee “Name of the Payee” has been success,</p>
        </div>
        <button class="mt-2 dashBoardBtn" routerLink="/dashboard">Go back to Dashboard</button>
    </main>
</div>